
  .mm-sideBar {
    padding-top: 40px;
    .mm-listGroup {
        .mm-listGroupItem {
            cursor: pointer;
            padding-left: 0;
            padding-right: 0;
            border: 0px solid rgba(0, 0, 0, 0);
            border-left: 2px solid transparent;
            .nav-link {
                display: block;
                .mm-listMuted {
                    .mm-childrens {
                        margin-left: 24px;
                    }
                    .mm-icon {
                        color:green;
                        font-size: 20px;
                        line-height: 22px;
                        margin-right: 10px;
                        margin-top: -10px;
                    }
                    .mm-text {
                        color: #666666;
                        text-transform: capitalize;
                        
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        padding: 1px 9px 9px 9px;
                    }
                }
            }
            &.active {
                background-color:rgb(191, 224, 191);
                border-left: 2px solid red;
                padding-bottom: 0px;
                a {
                    .mm-listMuted {
                        .mm-icon {
                            color:green;
                        }
                        .mm-text {
                            color:green;
                            font-weight: 600;
                        }
                        .mm-arrowdown {
                            color:green;
                        }
                    }
                }
            }
        }
        
    }
}

