
  .mm-sideBar {
    padding-top: 40px;
    .mm-listGroup {
        .mm-listGroupItem {
            cursor: pointer;
            padding-left: 0;
            padding-right: 0;
            border: 0px solid rgba(0, 0, 0, 0);
            border-left: 2px solid transparent;
            .nav-link {
                display: block;
                .mm-listMuted {
                    .mm-childrens {
                        margin-left: 24px;
                    }
                    .mm-icon {
                        color:#4e0258;
                        font-size: 20px;
                        line-height: 22px;
                        margin-right: 10px;
                        margin-top: -10px;
                    }
                    .mm-text {
                        color: #4e0258;
                        text-transform: capitalize;
                        
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        padding: 1px 5px 2px 2px;
                    }
                }
            }
            &.active {
                background-color:rgb(184, 230, 175);
                border-left: 2px solid #4e0258;
                padding-bottom: 0px;
                a {
                    .mm-listMuted {
                        .mm-icon {
                            color:#4e0258;
                        }
                        .mm-text {
                            color:#4e0258;
                            font-weight: 600;
                        }
                        .mm-arrowdown {
                            color: #4e0258;
                        }
                    }
                }
            }
        }
        /* submenu dropdown */
 .mm-subMenu {
    position: relative;
    top: -30px;
    label {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: black;
        padding: 10px 0px 25px 35px;
    }
    .mm-listSubGroupItem {
        border: none;
        outline: none;
        .mm-text {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: gray;
            padding-left: 38px;
        }
    }
}
    }
}
