<!-- <ul>
        <li *ngFor="let menuItem of menuItems;let i = index" routerLink="{{menuItem.path}}">
                <span>{{menuItem.title}}</span>
        </li>
    </ul> -->

<div class="sidebar-expanded mm-sideBar">
    <ul class="list-group mm-listGroup">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems; let  i = index"
            class="list-group-item d-flex align-items-start flex-column mm-listGroupItem">
            <a class="nav-link" [routerLink]="[menuItem.path]" >
                <div class=" d-flex w-100 justify-content-start align-items-center  mm-listMuted">
                    <span class="material-icons mm-icon"> {{ menuItem.icon }}</span>
                    <span id="collapse-text" class="menu-collapsed mm-text"> {{ menuItem.title }}</span>
                </div>
            </a>
        </li>
    </ul>
</div>