<mat-toolbar style="background-color:#4e0258">
  <mat-toolbar-row>
    <img src="../../assets/new logo.jpg" class="logo">&nbsp;
    <h5 id="projectname" class="animate-charcter">Run wheelz</h5>&nbsp;&nbsp;

    <mat-icon mat-icon-button (click)="toggleSideBar()" style="color:white;margin-top:3.5px;"
     class="menu-button">menu</mat-icon>
    
    <button mat-mini-fab color="info" class="notification-button" [matMenuTriggerFor]="bell">
      <mat-icon>notifications_none</mat-icon>
    </button>

    <mat-menu #bell="matMenu" class="myMenu" yPosition="above" xPosition="before" class="notification-menu">
      <button mat-menu-item class="notification-menu__button">
        <mat-icon class="notification-menu__icon_yellow">local_offer</mat-icon>Check out this awesome ticket
      </button>
      <button mat-menu-item class="notification-menu__button">
        <mat-icon class="notification-menu__icon_green">thumb_up</mat-icon>What is the best way to get ...
      </button>
      <button mat-menu-item class="notification-menu__button">
        <mat-icon class="notification-menu__icon_pink">notifications_none</mat-icon>This is just a simple notification
      </button>
      <button mat-menu-item class="notification-menu__button">
        <mat-icon class="notification-menu__icon_blue">local_grocery_store</mat-icon>12 new orders has arrived today
      </button>
    </mat-menu>


    <button mat-mini-fab color="" class="logout" (click)="onLoggedout()">
      <mat-icon>logout</mat-icon>
    </button>

  </mat-toolbar-row>

</mat-toolbar>