<!-- <div class="card">


    <div style="text-align: center;color: rgb(122, 92, 14);">
        <h1>RUN WHEELZ EXECUTIVE</h1>
    </div>


    <p-table #dt1 [value]="executive" dataKey="id" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        styleClass="p-datatable-customers p-datatable-gridlines"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,15,20,100]" [filterDelay]="0"
        [globalFilterFields]="['id','name','phoneNumber','aadharNumber','addressLine']">

        

        <ng-template pTemplate="caption">
            
            <div class="search">
                <input class="search" pInputText type="text" pInputText size="20"
                    (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Global Filter"><br><br>
            </div>
        </ng-template>



        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="name">NAME<p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="aadharNumber">AADHAR NUMBER<p-sortIcon field="aadharNumber"></p-sortIcon>
                </th>
                <th pSortableColumn="phoneNumber">PHONE NUMBER<p-sortIcon field="phoneNumber"></p-sortIcon>
                </th>
                <th pSortableColumn="addressLine">ADDRESS<p-sortIcon field="addressLine"></p-sortIcon>
                </th>
                <th>ACTION </th>
            </tr>
        </ng-template>


        <ng-template pTemplate="body" let-executive>
            <tr>
                <td>{{executive.id}}</td>
                <td>{{executive.name}}</td>
                <td>{{executive.aadharNumber}}</td>
                <td>{{executive.phoneNumber}}</td>
                <td>{{executive.addressLine}}</td>
                <td>
                    <a href="#" *ngIf="loggedInUserRole=== 'ADMIN''EXECUTIVE'" [routerLink]="['/addnewvendor/', addnewvendor.id, 'addnewvendor']" class="btn btn-info">AddNewVendor</a>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div> -->