/*::-webkit-scrollbar {
  display: none;
}*/
* {
  margin: 0;
  padding: 0;



  /*overflow-x: hidden;
   overflow-y:inherit;*/

}




.wrapHead {
  width: 90%;
  margin: 0 auto;
  transition: all ease-in-out 0.5s;
  padding-top: 10px;

}

.wrapHead.fixed-to-top {
  width: 1500px;
}

.sticky-header {

  position: fixed;
  width: 1529px;
  margin-left: -8px;
  background: #4e0258;
  // background: linear-gradient(135deg,cyan 60%,orange 10%  );*/
  /*background: linear-gradient(-90deg,#d38312,#a83279);*/
  /*background:#b130c2;*/
  margin-top: -10px;
  padding: 10px 0;
  z-index: 1;
  transition: all ease-in-out 0.5s;
}



.logo {
  position: absolute;
  left: 20px;
  width: 45px;
  margin-top: 0px;
}

#projectname {
  letter-spacing: 1px;
  padding-top: 12px;
  margin-top: 0px;
  font-size: 2.3em;
  position: absolute;
  font-family: 'Lucida Sans' sans-serif;
  font-weight: bold;
  left: 80px;
}


nav {
  float: right;
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin: 5px;

}

nav li a {
  padding: 4px;
  color: rgb(250, 250, 250);
  text-decoration: none;
  transition: all ease-in-out 0.5s;
  font: size 10%;
}

nav li a:hover {
  font-size: 20px;
}

.btn {
  width: 100px;
  background-color: #0a0a0a;
  color: white;
  text-align: center;
  float: right;
  margin-left: 25px;
}


.animate-charcter {
  text-transform: uppercase;

  background-image: linear-gradient(-225deg,
      #eed80e 10%,
      #f1f7f0 29%,
      #e1e9eb 67%,
      #fcfbfa 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  lighting-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 8s linear infinite;
  display: inline-block;
  font-size: 190px;
  left: 70px;
  margin-top: 10px;

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.home {
  box-sizing: border-box;
  font-family: monospace, serif, sans-serif;
  margin-top: 5px;
  box-sizing: inherit;
  height: 760px;
}







.aboutus {
  box-sizing: border-box;
  font-family: monospace, serif, sans-serif;
  margin-top: 5px;
  box-sizing: inherit;
  height: 620px;
}


.aboutus .container h1 {
  font-size: 50px;
  padding-top: 100px;
  text-align: center;





}

/*.aboutus .container p{
    font-size: 20px;
    margin-top: 40px;
    text-align:justify;
   margin-left: 160px;
   padding-bottom: 50px;
}*/
.aboutus .container1 {
  margin: 60px auto;
  width: 80%;
  padding: 1px;
}

.aboutus .container1 img {
  float: left;
  width: 500px;
  height: 400px;
  padding: 0 10px 0 0;
  padding-top: 10px;
  margin-left: 10px;
}

.aboutus .text h4{
  text-align: justify;
  font-family: 'Raleway', sans-serif;
 font-size:16px;
}

.services {
  background-color: white;
  padding: 50px 100px;
  height: 680px;
  margin-bottom: 10px;

}

.services .container h1 {
  font-size: 50px;
  margin-top: auto;
  margin-right: 50px;
  text-align: center;
  margin-bottom: auto;
  padding-top: 80px;

}

.card {
  width: 300px;

  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 4px;
  margin: 50px;
  margin: 40px;

  color: black;
  background-color: white;
  justify-content: space-around;
  margin-left: 50px;
  margin-right: 50px;
  flex-wrap: wrap;

}

.card:hover {
  box-shadow: 0 4px 20px 0 #3b5199;
  cursor: pointer;
  
}

.image img {
  width: 300px;
  height: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

.image img:hover {
  -ms-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  transform: scale(0.9, 0.9);
  
}



.card-title {
  text-align: center;
  padding: 10px;
  font-size: 20px
}

.contactus {

  background-color: white;
  padding: 50px 100px;
  height: 960px;
  margin-top: 80px;



}

.contactus h1 {
  font-size: 50px;
  margin-top: 0px;
  margin-right: 50px;
  text-align: center;
  margin-bottom: -10px;
  padding-top: 80px;
  padding-bottom:0PX ;
}
.contactus h2{
  padding-top: 40px;
}

.contactus .contactus2 {

  background-color: white;
  margin-left: 50px;
  float: left;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 1px;
  width: 20%;
  font-family: 'Raleway', sans-serif;
  align-items: justify;

}
.contactus2 h4{
  text-align: justify;
  font-family: 'Raleway', sans-serif;
 font-size:16px;
  /*text-align: justify;
  white-space:normal;*/

}

.contactus .contactus1 {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  padding: 25px;

  background-color: white;
  margin-right: 100px;
  margin-top: -40px;
  float: right;
}

.contactus .parent {
  display: flex;
}

.contactus .form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.contactus .form-group input,
.contactus .form-group textarea {
  width: 100%;
  padding: 1px;
  font-size: 18px;
  border: 1px solid black;
  margin-top: 2px;
}

.contactus .textarea {
  resize: vertical;
}
.contactus .wrapper {
  text-align: center;

}
.contactus .wrapper button{
  color:white;
  background: #4e0258;
  border-radius: 20px; 
  width:150px
}


.contactus .wrapper button[type="send message"]:hover {
  background-color: rgb(64, 212, 200);
}

.chatwithus {
  background-color : #660461;
  color: white;
  padding: 10px 20px;
  border: none;
  position: fixed;
  border-radius: 4px;
  border-color: #46b8da;
  bottom: 69px;
  right: 28px;
  width: 180px;
}

.mybutton {
  position: fixed;
  bottom: 8px;
  right: 100px;
}

.modal {
  background-color : #72066d;
  padding: 10px 20px;
  position: fixed;
  border-radius: 2px;
  bottom: 65px;
  height:380px;
  margin-right: 30px;
  padding-top: 50px;
  top: unset;
  left: 1260px;
  width: 260px;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:30px;
}

.btn1{
  background-color: #32c971;
  margin-top: 170px;
  font-size: 20px;
  
}






.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;

  right: 0;


  padding: 1rem;

  background: #4e0258;
  text-align: center;
}

.footer .text {
  font-size: 20px;
  margin-left: 550px;
  color: #fff;
}







