<div class="sticky-header">

    <!-- <header> -->
    <div class="wrapHead">
        <div id="brand">
            <img class="logo" src="../../assets/new logo.jpg" TITLE="">
            <h5 id="projectname" class="animate-charcter">run wheelz</h5>
        </div>
        <div class="button">
            <button type="button1" class="btn" onClick="location.href='https://www.apple.com/in/app-store/' "> <i
                    class="fab fa-apple"></i><span style="font-size:0.8em"> GET IT ON</span><br>App Store</button>
        </div>
        <nav>
            <ul>
                <li><a href="#home" class="home"><span style="font-size:16.5px">Home</span></a></li>
                <li><a href="#aboutus" class="about">About Us </a></li>
                <li><a href="#services" class="roadmap">Services</a></li>
                <li><a href="#contactus" class="artpreview">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</div>

<section id="home" class="home">
    <div style=" text-align:center; font-size:30px;margin:1pX; padding:80px;">
        <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="1"
            [imageSize]="{width: '690', height: 585}" slideImage="1"></ng-image-slider>
    </div>
</section>
<section id="aboutus" class="aboutus">
    <div class="container">
        <h1 class="text-center">About Us</h1>
        <div class=container1>
            <img src="../../assets/aboutus.jpg" />
        </div>
        <div class="text">
            <h4> At Runwheelz, we share our passion for smooth and excellent riding by maintaining your bike throughout
                the year.With Runwheelz you dont have to worry about your two wheeler. And the best part is you don't
                have to go anywhere but the best service come to you in your parking.
            </h4>

            <h4>Runwheelz delivers to you a bouquet of two-wheeler services for various brands of motorcycles and
                scooters, in your parking.When you show up with your motorcycle at Runwheelz, we work around your
                schedule to get your bike back to you and ready when you need it. If you need an oil change or repair,
                we'll perform the work while you wait or have it finished for you that day. We operate on a first come
                first serve basis for ride in ride out services IE oil and tire changes.
            </h4>
            <h4> If we're working on a more involved repair or customization project and you roll in needing a simple
                job
                like an oil change, we'll prioritize your needs every time. From Harleys to side-by-sides, we're
                dedicated to providing comprehensive motorcycle repair, maintenance, and customization services.
            </h4>
        </div>
    </div>
</section>
<section id="services" class="services">
    <div class="container">
        <h1 class="text-center">Services</h1>
        <div class="card">
            <div class="image">
                <img src="../../assets/service3.JPG">
            </div>
            <div class=" card-title">
                <h2>Extra fitting</h2>
            </div>
        </div>
        <!--cards -->
        <div class="card">
            <div class="image">
                <img src="../../assets/service4.JPG ">
            </div>
            <div class=" card-title">
                <h2>Electrical work</h2>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../assets/service8.JPG">
            </div>
            <div class=" card-title">
                <h2>Shock absorber</h2>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../assets/service-1.JPG">
            </div>
            <div class=" card-title">
                <h2>Engine repair</h2>
            </div>
        </div>
        <!--cards -->
        <div class="card">
            <div class="image">
                <img src="../../assets/service5.JPG ">
            </div>
            <div class=" card-title">
                <h2>Spares</h2>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../assets/service6.JPG">
            </div>
            <div class=" card-title">
                <h2> Tank repair</h2>
            </div>
        </div>
    </div>
</section>
<section id="contactus" class="contactus">

    <h1 class="text-center">Contact Us</h1>
    <h2>Get in touch with us by filling contact form :</h2><br>
    <div class="contactus1">
        <!-- <form action="https://formspree.io/mbjzbwaj" method="POST" id="my-form"> -->
        <div class="parent">
            <div class="form-group">
                <label for="firstName"> First Name </label>&nbsp;
                <input type="text" id="firstName" name="firstName">
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <div class="form-group">
                <label for="latsName">Last Name</label>
                <input type="text" id="lastName" name="lastName">
            </div>
        </div>
        <div class="form-group">
            <label for="mobile number">Mobile number</label>
            <input type="mobile number" id="mobile number" name="mobile number">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
        </div>

        <div class="form-group">
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="07" rows="07"></textarea>
        </div>
        <!-- <div>Send message</div> -->
        <div class="wrapper">
            <button type="send message" onClick="location.href='' ">Sendmessage

            </button>
        </div>
        <!-- </form> -->
    </div>
    <div class="contactus2">
        <h2>Run wheelz</h2>
        <h4>For most people, their bike is one of the most prized possessions. It is your best friend on that long ride,
            or your companion on your way to work and back. We know how difficult it is to find time, out of your busy
            schedules, to wait in long queues, and pay exorbitant charges to simply get your bike serviced.
        </h4>
    </div>
</section>


<div class="footer">
    <div class="text">
        <p>@ All rights reserved 2022</p>
    </div>
</div>