
<div class="d-flex flex-row-reverse bd-highlight">
    <a href="#" routerLink="/customermanagement/customermanagement" class="btn btn-primary">Back</a>
    </div>
    
    <hr/>
    <div class="container" >
        <h1> CUSTOMER DETAILS</h1>
        <table>
            <th>
            <tr>
            <td><h3>Id</h3></td>
            <td> : </td>
            <td><h3> {{customerdata.id}}</h3></td>
          </tr>
          <tr>
            <td><h3>Name</h3></td>
            <td> : </td>
            <td><h3> {{customerdata.name}}</h3></td>
          </tr>
          <tr>
            <td><h3>PhoneNumber</h3></td>
            <td> : </td>
            <td><h3> {{customerdata.phoneNumber}}</h3></td>
          </tr>
          
        </th>
        </table>
    </div>

    