<div class="d-flex flex-row-reverse bd-highlight">
    <a href="#" routerLink="/ordersmanagement/ordersmanagement" class="btn back">Back</a>
</div>

<hr />
<div class="container">
    <h1> ORDERS DETAILS</h1>
    <table>
        <th>
            <tr>
                <td>
                    <h3>Order ID</h3>
                </td>
                <td> : </td>
                <td>
                    <h3> {{ordersdata.id}}</h3>
                </td>
            </tr>
            
            <tr>
                <td>
                    <h3>RequestedCustomer</h3>
                </td>
                <td> : </td>
                <td>
                    <h3> {{ordersdata.requestedCustomer}}</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>ServiceType</h3>
                </td>
                <td> : </td>
                <td>
                    <h3> {{ordersdata.serviceType}}</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>AcceptedByVendor</h3>
                </td>
                <td> : </td>
                <td>
                    <h3> {{ordersdata.acceptedByVendor}}</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>AssignedToMechanic</h3>
                </td>
                <td> : </td>
                <td>
                    <h3> {{ordersdata.assignedToMechanic}}</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Make</h3>
                </td>
                <td> : </td>
                <td>
                    <h3> {{ordersdata.make}}</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>VehicleNumber</h3>
                </td>
                <td> : </td>
                <td>
                    <h3> {{ordersdata.vehicleNumber}}</h3>
                </td>
            </tr>
            
            <tr>
                <td>
                    <h3>Latitude</h3>
                </td>
                <td> : </td>
                <td>
                    <h3> {{ordersdata.latitude}}</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Longitude</h3>
                </td>
                <td> : </td>
                <td>
                    <h3> {{ordersdata.longitude}}</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Status</h3>
                </td>
                <td> : </td>
                <td>
                    <h3> {{ordersdata.status}}</h3>
                </td>
            </tr>
        </th>
    </table>
</div>