<div class="d-flex flex-row-reverse bd-highlight">
    <a href="#" routerLink="/ordersmanagement/ordersmanagement" class="btn back">Back</a>

</div>

<div class="row">
    <div class="column">
        <table>
            <h1> ORDERS DETAILS</h1>
            <tr>
                <th>Order Id</th>
                <td>{{ordersdata.id}}</td>
            </tr>
            <tr>
                <th>Service Type</th>
                <td>{{ordersdata.serviceType}}</td>
            </tr>
            <tr>
                <th>Make</th>
                <td>{{ordersdata.make}}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ordersdata.latitude}}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ordersdata.longitude}}</td>
            </tr>

        </table>
    </div>
    <div class="column">
        <table>
            <h1> VENDOR DETAILS</h1>
            <tr>
                <th>AcceptedByVendor</th>
                <td>{{ordersdata.acceptedByVendor}}</td>
            </tr>
            <tr>
                <th>AssignedToMechanic</th>
                <td>{{ordersdata.assignedToMechanic}}</td>
            </tr>

        </table>
    </div>

    <div class="column">
        <table>
            <h1> CUSTOMER DETAILS</h1>
            <tr>
                <th>VehicleNumber</th>
                <td>{{ordersdata.vehicleNumber}}</td>
            </tr>
            <tr>
                <th>RequestedCustomer</th>
                <td>{{ordersdata.requestedCustomer}}</td>
            </tr>
        </table>
    </div>
</div>