 .card {
    width: 15%;
    height: 20%;
    display: inline-block;
  
    border-radius: 5px;
    margin: 2%;
    color: black;
    background-color: hwb(45 92% 5%);
 }

 .image img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

 }

 .card:hover {
    box-shadow: 0 4px 20px 0 #2a95ca2f;
    cursor: pointer;
 }


 .image img:hover {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
 }

 /* .image img:hover{
  transform:  scale(1.2);transform: translate(-2%,-2%);} */

 .title {
    text-align: center;
    padding: 4px;
 }

 .h2title {
    font-size: 20px;
 }

 .des {
    padding: 3px;
    text-align: center;
    padding-top: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 35px;
 }