<div class="card" style="width: 30rem; margin:0 auto;">
  <div class="text-center">
    <form class="justify-start">
      <div class="items-center w-full mb-16 lg:inline-flex lg:w-62">
        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config" class="inline w-full lg:w-full"></ng-otp-input>
      </div>
      <br>
      <!-- <p class="justify-center inline text-gray-500">Didn't receive a code?<a (click)="resend()"
          class="ml-2 text-yellow-500 cursor-pointer">Resend</a></p> -->

      <div>
        <button class="btn btn-success mt-4" (click)="handleClick()" [disabled]="!otp">Verify OTP</button>
      </div>
    </form>
    <div class="error" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  </div>
</div>