
<div class="d-flex flex-row-reverse bd-highlight">
<a href="#" routerLink="/staffmanagement/staffmanagement" class="btn btn-primary">Back</a>
</div>

<hr/>
<div class="container" >
    <h1> STAFF DETAILS</h1>
    <table>
        <th>
        <tr>
        <td><h3>Id</h3></td>
        <td> : </td>
        <td><h3> {{staffdata.id}}</h3></td>
      </tr>
      <tr>
        <td><h3>PhoneNumber</h3></td>
        <td> : </td>
        <td><h3> {{staffdata.phoneNumber}}</h3></td>
      </tr>
      <tr>
        <td><h3>Name</h3></td>
        <td> : </td>
        <td><h3> {{staffdata.name}}</h3></td>
      </tr>
      <tr>
        <td><h3>RoleName</h3></td>
        <td> : </td>
        <td><h3> {{staffdata.role.roleName}}</h3></td>
      </tr>
      <tr>
        <td><h3>AadharNumber</h3></td>
        <td> : </td>
        <td><h3> {{staffdata.aadharNumber}}</h3></td>
      </tr>
      <tr>
        <td><h3>AddressLine</h3></td>
        <td> : </td>
        <td><h3> {{staffdata.addressLine}}</h3></td>
      </tr>
      <tr>
        <td><h3>City</h3></td>
        <td> : </td>
        <td><h3> {{staffdata.city}}</h3></td>
      </tr>
      <tr>
        <td><h3>State</h3></td>
        <td> : </td>
        <td><h3>{{staffdata.state}}</h3></td>
      </tr>
      <tr>
        <td><h3>Zipcode</h3></td>
        <td> : </td>
        <td><h3> {{staffdata.zipcode}}</h3></td>
      </tr>
      <tr>
        <td><h3>Latitude</h3></td>
        <td> : </td>
        <td><h3> {{staffdata.latitude}}</h3></td>
      </tr>
      <tr>
        <td><h3>Longitude</h3></td>
        <td> : </td>
        <td><h3> {{staffdata.longitude}}</h3></td>
      </tr>
    </th>
       
    </table>
    
</div>
