<div class="card">
    <div class="mm-storeBanner">
        <form [formGroup]="staffDetailsForm" class="text-center border border-light p-5">
            <div class="container-fluid mm-contFlue">
                <div style="text-align: center;color: rgb(122, 92, 14);">
                    <h1>Staff Details</h1>
                </div>

                <div class="row">
                    <hr />
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Id</label>
                        <div class="col-sm-5">
                            <input type="number" formControlName="id" [(ngModel)]="staffdata.id" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
                        <div class="col-sm-5">
                            <input type="number" formControlName="phoneNumber" [(ngModel)]="staffdata.phoneNumber"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Name <span
                                class="star text-danger">*</span></label>
                        <div class="col-sm-5">
                            <input type="text" formControlName="name" [(ngModel)]="staffdata.name" class="form-control"
                                required class="form-control form-control-sm"
                                [class.is-invalid]="f['name'].invalid && (f['name'].dirty || f['name'].touched)">
                            <div *ngIf="f['name'].invalid && (f['name'].dirty ||f['name'].touched)"
                                class="invalid-feedback">
                                <div *ngIf="f['name'].errors?.['required']">
                                    This field is required.
                                </div>

                                <div *ngIf="f['name'].errors?.['minlength']">
                                    This field must have atleast 1 character
                                </div>
                                <div *ngIf="f['name'].errors?.['maxlength']">
                                    This field must have at most 30 character
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="role" class="col-sm-2 col-form-label">Role <span
                                class="star text-danger">*</span></label>
                        <div class="col-sm-5">
                            <p-dropdown placeholder="- Select  -" [options]="rolesList" optionLabel="roleName"
                                formControlName="role" [(ngModel)]="staffdata.role" [style]="{width: '100%'}">
                            </p-dropdown>
                            <div class="text-error"
                                *ngIf="staffDetailsForm.controls['role'].invalid && (staffDetailsForm.controls['role'].dirty || staffDetailsForm.controls['role'].touched)">
                                <div *ngIf="staffDetailsForm.controls['role']">
                                    Role Name is Required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="aadharNumber" class="col-sm-2 col-form-label">Aadhar Number <span
                                class="star text-danger">*</span></label>
                        <div class="col-sm-5">
                            <input type="number" formControlName="aadharNumber" [(ngModel)]="staffdata.aadharNumber"
                                class="form-control" required class="form-control form-control-sm"
                                [class.is-invalid]="f['aadharNumber'].invalid && (f['aadharNumber'].dirty || f['aadharNumber'].touched)">
                            <div *ngIf="f['aadharNumber'].invalid && (f['aadharNumber'].dirty ||f['aadharNumber'].touched)"
                                class="invalid-feedback">
                                <div *ngIf="f['aadharNumber'].errors?.['required']">
                                    This field is required.
                                </div>
                                <div *ngIf="f['aadharNumber'].errors?.['maxlength']">
                                    This field must have at most 12 digits
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="addressLine" class="col-sm-2 col-form-label">Address Line <span
                                class="star text-danger">*</span></label>
                        <div class="col-sm-5">
                            <input type="text" formControlName="addressLine" [(ngModel)]="staffdata.addressLine"
                                class="form-control" required class="form-control form-control-sm"
                                [class.is-invalid]="f['addressLine'].invalid && (f['addressLine'].dirty || f['addressLine'].touched)">
                            <div *ngIf="f['addressLine'].invalid && (f['addressLine'].dirty ||f['addressLine'].touched)"
                                class="invalid-feedback">
                                <div *ngIf="f['addressLine'].errors?.['required']">
                                    This field is required.
                                </div>
                                <div *ngIf="f['addressLine'].errors?.['minlength']">This field must have atleast
                                    10characters</div>
                                <div *ngIf="f['addressLine'].errors?.['maxlength']">
                                    This field must have at most 256 characters
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="city" class="col-sm-2 col-form-label">City <span
                                class="star text-danger">*</span></label>
                        <div class="col-sm-5">
                            <input type="text" formControlName="city" [(ngModel)]="staffdata.city" class="form-control"
                                required class="form-control form-control-sm"
                                [class.is-invalid]="f['city'].invalid && (f['city'].dirty || f['city'].touched)">
                            <div *ngIf="f['city'].invalid && (f['city'].dirty ||f['city'].touched)"
                                class="invalid-feedback">
                                <div *ngIf="f['city'].errors?.['required']">
                                    This field is required.
                                </div>
                                <div *ngIf="f['city'].errors?.['minlength']">This field must have atleast 10characters
                                </div>
                                <div *ngIf="f['city'].errors?.['maxlength']">
                                    This field must have at most 256 characters
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="state" class="col-sm-2 col-form-label">State <span
                                class="star text-danger">*</span></label>
                        <div class="col-sm-5">
                            <input type="text" formControlName="state" [(ngModel)]="staffdata.state"
                                class="form-control" required class="form-control form-control-sm"
                                [class.is-invalid]="f['state'].invalid && (f['state'].dirty || f['state'].touched)">
                            <div *ngIf="f['state'].invalid && (f['state'].dirty ||f['state'].touched)"
                                class="invalid-feedback">
                                <div *ngIf="f['state'].errors?.['required']">
                                    This field is required.
                                </div>
                                <div *ngIf="f['state'].errors?.['minlength']">This field must have atleast 10characters
                                </div>
                                <div *ngIf="f['state'].errors?.['maxlength']">
                                    This field must have at most 256 characters
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="zipcode" class="col-sm-2 col-form-label">Zip Code <span
                                class="star text-danger">*</span></label>
                        <div class="col-sm-5">
                            <input type="number" formControlName="zipcode" [(ngModel)]="staffdata.zipcode"
                                class="form-control" required class="form-control form-control-sm"
                                [class.is-invalid]="f['zipcode'].invalid && (f['zipcode'].dirty || f['zipcode'].touched)">
                            <div *ngIf="f['zipcode'].invalid && (f['zipcode'].dirty ||f['zipcode'].touched)"
                                class="invalid-feedback">
                                <div *ngIf="f['zipcode'].errors?.['required']">
                                    This field is required.
                                </div>
                                <div *ngIf="f['zipcode'].errors?.['maxlength']">
                                    This field must have at most 6 digits
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group row">
                        <label for="currentLocation" class="col-sm-2 col-form-label">CurrentLocation <span
                                class="star text-danger">*</span></label>
                        <div class="col-sm-5">
                            <button type="text" style="background-color:rgb(164, 161, 182)"
                                 class="form-control" 
                                (click)="getLocation()">Browse Location</button>
                        </div>
                    </div> -->
                    <div class="form-group row">
                        <label for="latitude" class="col-sm-2 col-form-label">Latitude</label>
                        <div class="col-sm-5">
                            <input formControlName="latitude" [(ngModel)]="staffdata.latitude" class="form-control"
                                value="{{latitude}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="longitude" class="col-sm-2 col-form-label">Longitude</label>
                        <div class="col-sm-5">
                            <input formControlName="longitude" [(ngModel)]="staffdata.longitude" class="form-control"
                                value="{{longitude}}">
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pr-0">
                            <button class="btn btn-primary" type="button" (click)="onSubmitUpdateStaff()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<!-- <div class="d-flex flex-row-reverse bd-highlight">
    <a href="#" routerLink="/staffmanagement/staffmanagement" class="btn btn-primary">Back</a>
</div>
<hr />
<div style="width: 400px;">
    <form  [formGroup]="form"  (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label for="id" class="col-sm-4 col-form-label">ID</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="id" required [(ngModel)]="staffdata.id" formControlName="id">
            </div>
        </div>
        
        <div class="form-group row">
            <label for="phoneNumber" class="col-sm-4 col-form-label">PhoneNumber</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="staffdata.phoneNumber"
                formControlName="phoneNumber">
            </div>
        </div>

        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="name" required [(ngModel)]="staffdata.name" formControlName="name">
            </div>
        </div>

         <div class="form-group row">
            <label for="role" class="col-sm-4 col-form-label">Role</label>
            <div class="col-sm-7">
            
               <p-dropdown placeholder="- Select  -" [options]="rolesList" optionLabel="roleName"   [(ngModel)]="staffdata.role" formControlName="role" [style]="{width: '100%'}">
                </p-dropdown>
            </div>
        </div> 

        <div class="form-group row">
            <label for="aadharNumber" class="col-sm-4 col-form-label">Aadhar Number</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="aadharNumber" required [(ngModel)]="staffdata.aadharNumber"
                formControlName="aadharNumber">
            </div>
        </div>

        <div class="form-group row">
            <label for="addressLine" class="col-sm-4 col-form-label">Address</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="addressLine" required [(ngModel)]="staffdata.addressLine"
                formControlName="addressLine">
            </div>
        </div>

        <div class="form-group row">
            <label for="city" class="col-sm-4 col-form-label">City</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="city" required [(ngModel)]="staffdata.city" formControlName="city">
            </div>
        </div>

        <div class="form-group row">
            <label for="state" class="col-sm-4 col-form-label">State</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="state" required [(ngModel)]="staffdata.state" formControlName="state">
            </div>
        </div>

        <div class="form-group row">
            <label for="zipcode" class="col-sm-4 col-form-label">Zipcode</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="zipcode" required [(ngModel)]="staffdata.zipcode"
                formControlName="zipcode">
            </div>
        </div>
        <div class="form-group row">
            <label for="currentLocation" class="col-sm-4 col-form-label">CurrentLocation</label>
            <div class="col-sm-7">
                <button type="text" style="background-color:rgb(164, 161, 182)"
                                 class="form-control"
                                (click)="getLocation()">Browse Location</button>
            </div>
        </div>
        <div class="form-group row">
            <label for="latitude" class="col-sm-4 col-form-label">Latitude</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="latitude" required [(ngModel)]="staffdata.latitude"
                formControlName="latitude">
            </div>
        </div>
        <div class="form-group row">
            <label for="longitude" class="col-sm-4 col-form-label">Longitude</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="longitude" required [(ngModel)]="staffdata.longitude"
                formControlName="longitude">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>  


 -->