.search{
    float:right;
}
.search input{
        box-sizing: border-box;
        
}
.mm-eye {
        color:#4e0258;
        position: relative;
        margin-left: 2px;
        top: 2px;
        font-size: 18px;
        padding-left: 2px;
}
.mm-history {
    color:#4e0258;
    position: relative;
    margin-left: 2px;
    top: 2px;
    font-size: 18px;
    padding-left: 2px;
}
    